# Custom
__pycache__
.vscode
*.exe
test_tube.*
*.png
*.dat

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
test_tube.py
*.log
*.mk
*.rules
*.directive
*.aps
HLS/median-filter-3x3/csim/build/obj/.dir
*.xml
*.launch
*.apfmapping
HLS/.project
HLS/.cproject
*.tcl
*.bat
HLS/median-filter-3x3/.autopilot/db/dsp_style
HLS/median-filter-3x3/.autopilot/.autopilot_exit
