# Custom
__pycache__
.vscode
*.exe
test_tube.*
*.png
*.dat
test_tube.py
*.log
*.mk
*.rules
*.directive
*.aps
HLS/median-filter-3x3/csim/build/obj/.dir
*.xml
*.launch
*.apfmapping
*.json
HLS/.project
HLS/.cproject
*.tcl
*.funcunit
HLS/.autopilot/
HLS/.cproject
HLS/.project
HLS/.tcls
HLS/bubbleSort/*
!HLS/bubbleSort/impl/
!HLS/bubbleSort/syn/
HLS/selectionSort/*
!HLS/selectionSort/impl/
!HLS/selectionSort/syn/
HLS/insertionSort/*
!HLS/insertionSort/impl/
!HLS/insertionSort/syn/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

